body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;

  font-weight: 500;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.main-nav-menu,
.slider-switches,
.descripion-services,
.percent-ratio,
.links-list,
.footer-social {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:focus {
  opacity: 0.3;
}

.main-nav-menu a:hover {
  color: rgb(251, 86, 90);
}

.main-nav-menu a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.main-header {
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.main-header .wrapper {
  width: 1160px;
  margin: 0 auto;
}

.main-nav {
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.main-header-logo {
  margin-right: 202px;
}

.main-nav-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 800px;
}

.main-nav-menu li {
  margin-right: 42px;
}

.main-nav-menu .menu-item-cart {
  margin-left: auto;
  margin-right: 0;
}

.menu-item a {
  font-weight: 500;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: bottom;
  text-align: center;
  padding-bottom: 12px;
  border: 2px solid transparent;
  color: #000000;
}

.menu-item-active a {
  border-bottom-color: #fb565a;
}

.main-header b {
  display: block;
  margin-bottom: 23px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
}

.header-slider-1 {
  background-image: url(/img/slide1.png);
  background-repeat: no-repeat;
  background-position: 430px 10px;
}

.header-slider-2 {
  background-image: url(/img/slide2.png);
  background-repeat: no-repeat;
  background-position: right 0;
}

.header-slider-3 {
  background-image: url(/img/slide3.png);
  background-repeat: no-repeat;
  background-position: right 10px;
}

.header-slider-1 .slider-info,
.header-slider-2 .slider-info,
.header-slider-3 .slider-info {
  padding-top: 70px;
}

.services .wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.services-item {
  width: 300px;
  margin-right: 100px;
}

.services-item-present {
  margin-right: 60px;
}

.services-item h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

a.red {
  background-color: #fb565a;
}

a.red:hover {
  background-color: #e74246;
}

a.red:focus{
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

a.green {
  background-color: #00ca74;
}

a.green:hover {
  background-color: #00bc6c;
}

a .green:focus {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #00aa62;
}

a.yellow {
  background-color: #efc84a;
}

a.yellow:hover {
  background-color: #eab534;
}

a .yellow:focus {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;
}

.description .wrapper {
  width: 1160px;
  padding-bottom: 47px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eeeeee;
}

.description-block-left {
  width: 700px;
}

.description-block-left b {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.description-block-right {
  width: 360px;
}
.description-block-right strong {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding-top: 41px;
  padding-bottom: 49px;
}

.percent-ratio {
  display: flex;
}

.percent-ratio b {
  font-size: 45px;
  font-weight: 700;
  line-height: 10.06px;
  color: #000000;
}

.percent-ratio sup {
  vertical-align: top;
  font-size: 26px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.links .wrapper {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.links-list {
  display: flex;
  justify-content: space-around;
}

.map {
  background-image: url("/img/map-group.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.map .wrapper {
  width: 1160px;
  margin: 0 auto;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.map-contacts {
  width: 320px;
  margin-top: 54px;
  margin-bottom: 54px;
  padding-left: 50px;
  padding-top: 54px;
  padding-bottom: 47px;
  background-color: #ffffff;
}

.map-contacts h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
}

.map-contacts p {
  color: #666666;
  line-height: 18px;
}

.main-footer .wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-social {
  display: flex;
  width: 260px;
  justify-content: space-between;
}

.footer-promo b {
  display: block;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}

footer-promo span {
  display: block;
}

.catalog-page .main-header {
  margin-bottom: 60px;
}

.main-header h1 {
  margin: 0;
  padding: 0;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
  text-align: center;
  padding-top: 73px;
  padding-bottom: 111px;
}

.main-catalog .wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.filter-form {
  width: 261px;
  margin-left: 0;
  margin-right: auto;
}

.filter-form b {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.filter fieldset {
  border: none;
}

.filter-form ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 20px;
}

.catalog {
  display: flex;
  flex-direction: column;
  width: 760px;
}

.catalog-filter {
  display: flex;
  align-items: baseline;
  width: 760px;
}

.catalog-filter-menu {
  list-style: none;
  display: flex;
  width: 271px;
}

.main-catalog a {
  color: #000000;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
}

.catalog-filter b {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 0;
  margin-right: auto;
}

.catalog-filter-menu .filter-menu-active {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-filter .filter-menu {
  opacity: 0.3;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-triangles {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.catalog-product {
  display: flex;
  flex-wrap: wrap;
}

.catalog-product article {
  width: 360px;
  margin-right: 40px;
}

.catalog-product article:nth-child(2n) {
  margin-right: 0;
}

.product-description {
  text-align: center;
  width: 360px;
  background-color: #eeeeee;
}

.product-description h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.product-description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #666666;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.modal {
  width: 960px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal .wrapper {
  width: 760px;
  margin: 0 auto;
}
.modal h2 {
  margin: 0;
  padding: 0;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin-top: 73px;
  color: #000000;
}

