body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;

  display: inline-block;
  padding: 16px 40px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
  border-radius: 5px;
  background-color: #fb565a;
}

.main-nav-menu,
.sliders,
.slider-switches,
.descripion-services,
.percent-ratio,
.links-list,
.footer-social {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:focus,
.main-header-logo:active {
  opacity: 0.3;
}

.main-nav-menu a:hover {
  color: rgb(251, 86, 90);
}

.main-nav-menu a:focus,
.main-nav-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header {
  background-color: #eeeeee;
  margin-bottom: 78px;
}

.main-header .wrapper {
  width: 1160px;
  margin: 0 auto;
}

.main-nav {
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.main-header-logo {
  margin-right: 200px;
}

.main-nav-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 800px;
  margin-top: 17px;
}

.main-nav-menu li {
  margin-right: 42px;
}

.main-nav-menu .menu-item-cart {
  position: relative;

  margin-left: auto;
  margin-right: 0;
  padding-left: 40px;
}

.menu-item a {
  display: block;
  padding-bottom: 12px;
  font-weight: 500;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: bottom;
  text-align: center;
  border: 2px solid transparent;
  color: #000000;
}

.menu-item-active a {
  border-bottom-color: #fb565a;
}

.main-header b {
  display: block;
  padding-top: 73px;
  padding-bottom: 25px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
}

.slide-1 {
  background-image: url(../img/slide1.png);
  background-repeat: no-repeat;
  background-position: 430px 10px;
  padding-bottom: 80px;
}

.slide-2 {
  background-image: url(../img/slide2.png);
  background-repeat: no-repeat;
  background-position: right 0;
  padding-bottom: 80px;
}

.slide-3 {
  background-image: url(../img/slide3.png);
  background-repeat: no-repeat;
  background-position: right 10px;
  padding-bottom: 80px;
}

.header-slider .slider-info, {
  padding-top: 70px;
}

.header-info-btn {
  padding-left: 55px;
  padding-right: 55px;
}

.header-info-btn:hover {
  background-color: #e74246;
}
.header-info-btn:focus,
.header-info-btn:active {
  opacity: 0.3;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.slider-info p {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}

.services .wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  padding-bottom: 80px;
}

.services-item {
  width: 300px;
  margin-right: 100px;
}

.services-item-present {
  margin-right: 60px;
}

.services-item h3 {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.services-item p {
  margin: 0;
  padding: 0;
  padding-bottom: 33px;
}

a.red {
  background-color: #fb565a;
}

a.red:hover {
  background-color: #e74246;
}

a.red:focus{
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

a.green {
  background-color: #00ca74;
}

a.green:hover {
  background-color: #00bc6c;
}

a .green:focus {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #00aa62;
}

a.yellow {
  background-color: #efc84a;
}

a.yellow:hover {
  background-color: #eab534;
}

a .yellow:focus {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;
}

.description .wrapper {
  width: 1160px;
  padding-bottom: 47px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border: 2px solid #eeeeee;
  border-left: transparent;
  border-right: transparent;
}

.description-block-left {
  width: 680px;
  padding-top: 70px;
}

.description-block-left b {
  display: block;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  padding-bottom: 33px;
}

.description-block-left p {
  margin: 0;
  padding: 0;
  padding-bottom: 39px;
}

.description-block-left strong {
  display: block;
  padding-bottom: 25px;
  text-transform: uppercase;
}
.description-block-left .description-services-item {
  padding-bottom: 23px;
}

.description-block-right {
  width: 360px;
  padding-top: 70px;
}

.description-block-right strong {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding-top: 41px;
  padding-bottom: 49px;
}

.percent-ratio {
  display: flex;
}

.percent-ratio b {
  font-size: 45px;
  font-weight: 700;
  line-height: 10.06px;
  color: #000000;
}

.percent-ratio sup {
  vertical-align: top;
  font-size: 26px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.links .wrapper {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.links-list {
  display: flex;
  justify-content: space-around;
}

.links-list img {
  opacity: 0.2;
}

.links-list img:hover {
  opacity: 1;
}

.links-list img:active {
  opacity: 0.1;
}

.map {
  background-image: url("../img/map-group.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.map .wrapper {
  width: 1160px;
  margin: 0 auto;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.map-contacts {
  width: 320px;
  margin-top: 54px;
  margin-bottom: 54px;
  padding-left: 50px;
  padding-top: 54px;
  padding-bottom: 47px;
  background-color: #ffffff;
}

.map-contacts h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
}

.map-contacts p {
  color: #666666;
  line-height: 18px;
}

.main-footer .wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-social {
  display: flex;
  width: 260px;
  justify-content: space-between;
}

.footer-promo b {
  display: block;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}

footer-promo span {
  display: block;
}

.catalog-page .main-header {
  margin-bottom: 60px;
}

.main-header h1 {
  margin: 0;
  padding: 0;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
  text-align: center;
  padding-top: 73px;
  padding-bottom: 111px;
}
.catalog-page .main-header {
  margin-bottom: 55px;
}

.main-catalog .wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.filters {
  width: 260px;
}

.filter fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter legend {
  margin-bottom: 23px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.filter-item legend {
  margin-bottom: 45px;
}


.range-controls {
  position: relative;

  height: 82px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
  margin-bottom: 60px;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  padding: 8px 10px;
  margin-left: 10px;

  font: inherit;
  text-align: center;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}


.filters ul {
  margin: 0;
  padding: 0;

  list-style: none;
  line-height: 20px;
  color: #283136;
}

.filter-option {
  margin-bottom: 22px;
  padding-left: 35px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-button {
  display: inline-block;
  margin-top: 25px;
  padding: 16px 90px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  text-transform: uppercase;
  color: #000000;
  background-color: #eeeeee;
}

.catalog {
  display: flex;
  flex-direction: column;
  width: 760px;
}

.catalog-filter {
  display: flex;
  width: 760px;
  margin-bottom: 55px;
}

.catalog-filter-menu {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-filter-menu li {
  margin-right: 25px;
}

.catalog-filter b {
  margin-right: 265px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-filter-menu .filter-menu-active {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-filter .filter-menu a {
  display: block;
  opacity: 0.3;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-menu a:hover {
  opacity: 0.6;
}

.filter-triangles {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.catalog-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;
}

.catalog-product article {
  width: 360px;
  margin-bottom: 30px;
}

.product-item .top {
  opacity: 0.12;
  margin-bottom: -10px;
}

.product-description {
  width: 360px;
  text-align: center;

  background-color: #eeeeee;
  border: 1px solid transparent;
}

.product-description h3 {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 12px;
  padding: 0;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.product-description p {
  margin: 0;
  padding: 0;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 30px;

  color: #666666;
}

.product-description .product-description-btn {
  margin-bottom: 40px;
  padding: 15px 60px;

  cursor: pointer;
}

.item-sedona,
.item-pink,
.item-barbershop,
.item-mishka,
.item-aplus,
.item-kvast {
  position: relative;
}


.description-sedona,
.description-pink,
.description-barbershop,
.description-mishka,
.description-aplus,
.description-kvast {
  position: absolute;
  z-index: 1;
  top: 378px;

  display: none;
}

.item-sedona:hover .description-sedona,
.item-pink:hover .description-pink,
.item-barbershop:hover .description-barbershop,
.item-mishka:hover .description-mishka,
.item-aplus:hover .description-aplus,
.item-kvast:hover .description-kvast {
  display: block;
}

.item-sedona:hover .top,
.item-pink:hover .top,
.item-barbershop:hover .top,
.item-mishka:hover .top,
.item-aplus:hover .top,
.item-kvast:hover .top {
  opacity: 1;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 443px;
}
.pagination-list li {
  margin-right: 11px;
}

.pagination-list li:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: inline-block;
  padding: 13px 21px;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;

  color: #000000;
  font-weight: 500;
  background-color: #eeeeee;
}

.pagination-item-active a {
  display: inline-block;
  padding: 10px 19px;
  border: 3px solid #dbdbdb;
  border-radius: 5px;
  background-color: #ffffff;
}
.pagination-list .pagination-item-active a:hover,
.pagination-list .pagination-item-active a:focus,
.pagination-list .pagination-item-active a:active {
  border: 3px solid #dbdbdb;
  background-color: #ffffff;
}

.pagination-item a:hover {
  background-color: #dfdfdf;
}

.pagination-item a:focus,
.pagination-item a:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.pagination-button a {
  display: inline-block;
  padding: 13px 80px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.modal {
  position: relative;
  width: 960px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal .wrapper {
  width: 760px;
  margin: 0 auto;
}
.modal h2 {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  padding-bottom: 35px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
}

.modal input {
  width: 360px;
  margin-right: 40px;
  padding-left: 15px;
  margin-bottom: 30px;
  padding-top: 13px;
  padding-bottom: 15px;
}

.modal input[type="email"] {
  margin-right: 0;
}

.modal p {
  margin: 0;
  padding: 0;
}


.modal input,
.modal textarea {
  font: inherit;

  box-sizing: border-box;
  opacity: 0.5;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #d7dcde;
  border-radius: 5px;
}

.modal input:hover {
  border: 2px solid #b4b9bb;
}

.modal input:focus {
  opacity: 1;
  color: #444444;
  border: 2px solid #000000;
}

.modal label {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
}

.modal textarea {
  width: 760px;
  padding-top: 14px;
  padding-bottom: 60px;
  margin-bottom: 50px;
}

.modal .modal-btn {
  display: inline-block;
  padding-left: 85px;
  padding-right: 85px;
}


